<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
	
		<typeAlias type="com.beio.base.entity.SysRegex" alias="SysRegex"/>
		<typeAlias type="com.beio.base.entity.SysSmsLog" alias="SysSmsLog"/>
		<typeAlias type="com.beio.base.entity.SysTipMsg" alias="SysTipMsg"/>
		<typeAlias type="com.beio.base.entity.SysVisitLog" alias="SysVisitLog"/>
		<typeAlias type="com.beio.base.entity.SysMember" alias="SysMember"/>
		<typeAlias type="com.beio.front.entity.GdsBanner" alias="GdsBanner"/>
		<typeAlias type="com.beio.front.entity.GdsBrand" alias="GdsBrand"/>
		<typeAlias type="com.beio.front.entity.GdsClassify" alias="GdsClassify"/>
		<typeAlias type="com.beio.front.entity.GdsGoods" alias="GdsGoods"/>
		<typeAlias type="com.beio.front.entity.GdsImage" alias="GdsImage"/>
		<typeAlias type="com.beio.front.entity.GdsNavbar" alias="GdsNavbar"/>
		<typeAlias type="com.beio.front.entity.GdsSearch" alias="GdsSearch"/>
		
		<typeAlias type="com.beio.base.vo.Member" alias="Member"/>
		<typeAlias type="com.beio.front.vo.ClassifyVO" alias="ClassifyVO"/>
		<typeAlias type="com.beio.front.vo.GoodsVO" alias="GoodsVO"/>
		<typeAlias type="com.beio.front.vo.IndexInfoVO" alias="IndexInfoVO"/>
		<typeAlias type="com.beio.front.vo.TopInfoVO" alias="TopInfoVO"/>
		<typeAlias type="com.beio.front.vo.SearchInfoVO" alias="SearchInfoVO"/>
		
	</typeAliases>
	
	<mappers>
		
		<mapper resource="ibatis/base/sys.xml"/>
		
		<mapper resource="ibatis/front/goods.xml"/>
		
	</mappers>
</configuration> 

