html {
	font-size: 12px;
	color: #404040;
}

body,button,ol,ul,li,p,dl,dd,h1,h2,h3,h4,h5,h6,img,iframe,input,form,textarea
	{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 0;
}

body {
	font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB,
		"\u5b8b\u4f53", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #666;
	background: #fff
}

body,button,input,txt {
	font-family: "Microsoft YaHei", "Hiragino Sans GB"
}

a {
	color: #666;
	text-decoration: none
}

a:hover {
	color: #35679a;
}

a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var
	{
	margin: 0;
	padding: 0
}

article,aside,details,figcaption,figure,header,hgroup,main,nav,section,summary
	{
	display: block
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

button,html input[type=button],input[type=submit] {
	-webkit-apperance: button;
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

ol,ul {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

em,i,u {
	font-style: normal
}

button,input,select,textarea {
	outline: 0
}

textarea {
	font-size: 13px;
	resize: none
}

input::-ms-clear {
	display: none
}

input::-ms-reveal {
	width: 0;
	height: 0
}

.fl {
	float: left
}

.fr {
	float: right
}

.al {
	text-align: left
}

.ar {
	text-align: right
}

.ac {
	text-align: center
}

.hide {
	display: none
}

.invisible {
	visibility: hidden
}

.clear,.clr {
	height: 0;
	clear: both;
	font-size: 0;
	display: block;
	line-height: 0;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1
}

.con {
	clear: both;
	zoom: 1;
}

.con:after {
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.con .col {
	float: left;
}

.spacer {
	display: none;
}

.vspacer {
	width: 10px;
	float: left;
	height: 10px;
}

.dorpdown {
	position: relative
}

.dorpdown-layer {
	display: none;
	position: absolute
}

.dorpdown:hover .dorpdown-layer,.hover .dorpdown-layer {
	display: block
}

.cw-icon {
	position: relative;
	cursor: default;
	zoom: 1
}

.cw-icon .i,.cw-icon i {
	display: block;
	position: absolute;
	overflow: hidden
}

.w {
	width: 990px;
	margin: 0 auto
}

.m,.mb,.mc,.mt,.p-detail,.p-img,.p-market,.p-name,.p-price,.sm,.smb,.smc,.smt
	{
	overflow: hidden
}

.header {
	height: 110px;
	border-bottom: 5px solid #35679a;
	margin-bottom: 18px;
}

.header .logo {
	background: url(../image/logo.png) no-repeat;
	background-size: contain;
	width: 310px;
	height: 110px;
	float: left;
}

.footer {
	border-top: 5px solid #35679a;
	margin-top: 18px;
	clear: both;
}

.grid_c1 {
	margin: 0 auto;
	width: 1190px
}

.mod_service {
	padding: 30px 0;
	border-bottom: 1px solid #dedede
}

.mod_service_list {
	overflow: hidden;
	height: 42px
}

.mod_service_item {
	float: left;
	width: 297px
}

.mod_service_unit {
	position: relative;
	margin: 0 auto;
	padding-left: 45px;
	width: 85px
}

.mod_service_tit {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 42px;
	background-image: url(../image/ico_service1.png);
	text-indent: -999px
}

.mod_service_txt {
	overflow: hidden;
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444
}

.mod_service_duo {
	background-position: 0 0
}

.mod_service_kuai {
	background-position: 0 -43px
}

.mod_service_hao {
	background-position: 0 -86px
}

.mod_service_sheng {
	background-position: 0 -129px
}

.mod_copyright_inner {
	padding: 15px 0 0 0;
	text-align: center
}

.mod_copyright_split {
	margin: 0 10px;
	color: #ccc
}

.mod_copyright_auth_ico {
	overflow: hidden;
	display: inline-block;
	margin: 0 3px;
	width: 103px;
	height: 32px;
	background-image: url(../image/ico_footer.png);
	line-height: 1000px
}

.mod_copyright_auth_ico_1 {
	background-position: 0 -151px
}

.mod_copyright_auth_ico_2 {
	background-position: -104px -151px
}

.mod_copyright_auth_ico_3 {
	background-position: 0 -184px
}

.mod_copyright_auth_ico_4 {
	background-position: -104px -184px
}

.mod_copyright_auth_ico_5 {
	background-position: 0 -217px
}

.mod_copyright_auth_ico_6 {
	background-position: -104px -217px
}

.errMsg {
	color: #ff1218;
}

.sucMsg {
	color: #90b71b;
}

#hd {
	font: 12px 'Hiragino Sans GB', "simsun", "Arial";
	color: #646464;
	min-width: 1200px;
	background-color: #fff;
}

#hd a {
	color: #646464;
	text-decoration: none;
}

#hd a:hover {
	color: #35679a;
	text-decoration: none;
}

#hd .tools {
	width: 100%;
	background-color: #f9f9f9;
	border-bottom: 1px solid #f2f2f2;
	height: 34px;
	line-height: 34px;
	position: relative;
	z-index: 10010;
}

#hd .tools .head_operate {
	width: 1200px;
	margin: 0 auto;
	background-color: #f9f9f9;
	height: 34px;
}

#hd .tools .head_operate_nav {
	float: right;
	padding-top: 2px;
}

#hd .head_operate_nav li {
	float: left;
	height: 22px;
	padding-top: 4px;
	line-height: 21px;
	background: url(../image/head_sprite.png) no-repeat left -285px;
	position: relative;
	z-index: 100;
}

#hd .head_operate_nav li a {
	display: block;
	position: relative;
	line-height: 21px;
	padding: 0 7px 0 8px;
}

#hd .tools .head_welcome {
	float: left;
	padding-top: 5px;
	height: 24px;
	line-height: 24px;
	position: relative;
	z-index: 50;
}

#hd .tools .head_welcome a {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	color: red;
}

#hd .tools .head_welcome .hi {
	display: inline-block;
	height: 24px;
	color: #646464;
	font-weight: normal;
	padding: 0 0 0 10px;
}

#hd .tools .head_welcome .hi span {
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bold;
	color: #35679a;
}

#hd .logo_line_out {
	position: relative;
	z-index: 10002;
}

#hd .logo_line {
	height: 100px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#hd .logo_line .logo {
	overflow: hidden;
	width: 335px;
	height: 100px;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../image/logo.png) no-repeat;
	background-size: contain;
}

#hd .logo_line .search {
	position: absolute;
	margin-top: 20px;
	height: 48px;
	z-index: 9999;
	left: 335px;
	top: 0;
}

#hd .logo_line .search form {
	display: block;
	height: 50px;
}

#hd .logo_line .search .text {
	width: 505px;
	height: 18px;
	border: 2px solid #35679a;
	border-right: none;
	padding: 9px 0 9px 10px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	color: #323232;
	font: 12px/18px 'Hiragino Sans GB', "simsun", Arial;
	outline: 0;
	background: none;
}

#hd .logo_line .search .button {
	width: 48px;
	height: 40px;
	border: none;
	background: url(../image/head_sprite.png) no-repeat 0 -346px;
	cursor: pointer;
	position: absolute;
	left: 517px;
	top: 0;
}

#hd .logo_line .search .button:hover {
	background: url(../image/head_sprite.png) no-repeat 0 -390px;
}

#hd .logo_line .search_bottom {
	position: absolute;
	top: 65px;
	left: 335px;
	color: #969696;
	width: 558px;
	line-height: 24px;
	z-index: 6666;
	font-size: 14px;
	padding: 2px 10px;
}

#hd .logo_line .search_hot {
	float: left;
	width: 538px;
	overflow: hidden;
	height: 24px;
}

#hd .logo_line .search_bottom a,#hd .logo_line .search_bottom a:hover {
	color: #969696;
	margin-right: 15px;
	_display: inline;
	height: 20px;
	overflow: hidden;
}

#hd .logo_line .search_bottom a:hover {
	color: #35679a;
}

#hd .logo_line .new_cart,#hd .logo_line .new_order {
	position: absolute;
	top: 23px;
	border: 2px solid #dcdcdc;
	font: 14px/36px "Microsoft Yahei";
}

#hd .logo_line .new_cart {
	right: 88px;
	width: 107px;
	border-color: #35679a;
	background: url(../image/common.png) 4px -188px no-repeat #35679a;
}

#hd .logo_line .new_cart:hover {
	background-position: 4px -188px;
	background-color: #f6f6f6;
	border-color: #dcdcdc;
	color: #35679a;
}

#hd .logo_line .new_cart a:hover,#hd .logo_line .new_order a:hover {
	text-decoration: none;
}

#hd .logo_line .new_cart a b,#hd .logo_line .new_order a b,.logo_line .new_cart a:hover b
	{
	color: #35679a;
	padding-left: 3px;
	font-family: Arial;
	font-weight: bold;
}

#hd .logo_line .new_cart a,#hd .logo_line .new_cart a b {
	color: #fff;
}

#hd .logo_line .new_cart:hover a,#hd .logo_line .new_cart:hover a b {
	color: #35679a;
}

#hd .logo_line .new_order {
	width: 86px;
	padding: 0;
	text-align: center;
	right: 0;
	border-left: 0;
	background-color: #f6f6f6;
}

#hd .logo_line .new_order a {
	display: inline-block;
	width: 86px;
}

#hd .logo_line .new_cart a {
	padding-left: 35px;
	width: 72px;
	display: inline-block;
}

#hd .nav_top {
	width: 100%;
	height: 40px;
	border-bottom: 5px solid #35679a;
}

#hd .nav_top a,#hd .nav_top a:hover {
	color: #323232;
	font: 14px/40px "Microsoft Yahei";
	text-decoration: none;
	padding: 0 15px;
	display: block;
	font-weight: bold;
}

#hd .nav_top ul {
	width: 1200px;
	margin: 0 auto;
}

#hd .nav_top ul li {
	float: left;
	text-align: center;
	position: relative;
}

#hd .nav_top ul li.all {
	width: 200px;
	margin-right: 17px;
	_display: inline;
	text-align: left;
	background: #35679a;
	position: relative;
}

#hd .nav_top ul li.all a,#hd .nav_top ul li.all a:hover {
	padding: 0 0 0 20px;
	display: block;
	width: 171px;
	background: url(../image/head_sprite.png) no-repeat 161px -567px;
	color: #fff;
}

#hd .nav_top ul li a:hover {
	display: block;
	color: #35679a;
}

#hd .nav_top ul li.all a:hover {
	background: url(../image/head_sprite.png) no-repeat 161px -567px;
}

#hd .icon_n {
	position: absolute;
	display: block;
	bottom: 26px;
	left: 50%;
	margin-left: -28px;
	text-align: center;
	font-size: 0;
}

#hd .sub {
	background: #f5f5f5;
	float: none;
	width: auto;
}

#hd .sub ul {
	height: 31px;
	margin: 0 auto;
	overflow: hidden;
	line-height: 30px;
	width: 1200px;
}

#hd .sub ul li {
	float: left;
	padding: 0 15px;
	margin-left: -1px;
	white-space: nowrap;
	background: url(../image/sub_line_bg.png) right center no-repeat;
	_line-height: 12px;
	_padding: 9px 15px 8px;
}

#hd .sub ul li img {
	vertical-align: middle;
	_vertical-align: top;
}

#hd .sub ul li.sub_big_li {
	width: 100px;
	position: relative;
	overflow: hidden;
	background: none;
	text-align: center;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	color: #403108;
	padding-left: 20px;
}

#hd .sub ul li.sub_big_li a,#hd .sub ul li.sub_big_li a:hover {
	font-size: 16px;
	font-family: "Microsoft Yahei";
	color: #403108;
}

#hd .th_sub {
	background-color: #35679a;
}

#hd .th_sub ul li a,#hd .th_sub ul li a:hover {
	color: #fff;
}

#hd .th_sub ul li.sub_big_li a,#hd .th_sub ul li.sub_big_li a:hover {
	color: #fff;
}

.home_nav {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.home_nav_l {
	float: left;
	width: 200px;
	background-color: #fafafa;
	position: absolute;
	z-index: 10040;
	padding: 4px 0;
	height: 480px;
	display: none;
}

.home_nav_l .new_pub_nav {
	width: 200px;
}

.home_nav_l .new_pub_nav li {
	height: 30px;
	color: #323232;
	font: 14px/30px "Microsoft Yahei";
	position: relative;
	z-index: 1px;
	vertical-align: top;
	text-align: center;
}

.home_nav_l .new_pub_nav li.on {
	background: #fff;
	color: #F07828;
	z-index: 10;
	margin: -2px -1px -2px 0;
	border: 2px solid #35679a;
	border-right: 0;
}

.home_nav_l .new_pub_nav li a {
	color: #323232;
	font: 14px/32px "Microsoft Yahei";
}

.home_nav_l .new_pub_nav li.on a,.home_nav_l .new_pub_nav li.on a:hover,.home_nav_l .new_pub_nav li.on span
	{
	color: #35679a;
}

.home_notice_r {
	float: left;
	width: 202px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.new_pub_nav_pop {
	display: none;
	top: 0px;
	position: absolute;
	left: 199px;
	border: 2px solid #35679a;
	padding: 4px 18px;
	overflow: hidden;
	overflow: hidden;
	font: 12px 'Hiragino Sans GB', "Simsun";
	background-color: #fff;
	border-top: none 0;;
	min-height: 478px;
}

.new_pub_nav_pop .pop_column {
	width: 150px;
}

.new_pub_nav_pop .pop_row {
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px dashed #e6e6e6;
	margin: 0px 2px;
}

.login-shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #999;
	z-index: 9998;
	filter: alpha(opacity = 90);
	moz-opacity: 0.9;
	opacity: 0.9;
	left: 0;
	top: 0;
}

.shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #999;
	z-index: 9998;
	filter: alpha(opacity = 90);
	moz-opacity: 0.9;
	opacity: 0.9;
	left: 0;
	top: 0;
}

#divDialog {
	position: absolute;
	border: 1px solid #b6aca2;
	background-color: white;
	z-index: 9999;
	left: 30%;
	top: 25%;
}

.pop {
	border: 1px solid #cdcdcd;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #fff;
}

.pop .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 13px;
	height: 13px;
	display: block;
	background: url(../image/icon_close.png) 0 0 no-repeat;
}

.pop .modify {
	position: absolute;
	top: 0px;
	right: 10px;
}

.pop .pop_title {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	border-bottom: 1px solid #cdcdcd;
	font-size: 14px;
}

.pop .pop_con {
	padding: 15px;
}

.pop .btn_bar {
	text-align: center;
	padding: 0 0 5px;
}

.pop .btn_bar .btn {
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	margin: 0 0 0 20px;
	font-size: 14px;
}

.pop .nomal_tips {
	padding: 5px 8px;
	line-height: 16px;
	color: #505050;
}

.nomal_tips.narrow {
	width: 120px;
	padding: 10px 8px;
}

.nomal_tips.middle {
	width: 204px;
	padding: 8px;
}

.info_list ul {
	padding: 15px;
	font-size: 14px;
	line-height: 32px;
}

.info_list li {
	padding: 12px 0;
	position: relative;
}

.info_list li .name {
	width: 76px;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
}

.info_list li input[type="text"],.info_list li input[type="password"] {
	height: 30px;
	line-height: 30px;
	width: 150px;
	padding: 0 5px;
	border: 1px solid #d2d2d2;
	margin: 0 15px 0 0;
	border-radius: 3px;
}

.info_list li .alart_tip {
	left: 90px;
	font-size: 12px;
}

.info_list li select {
	height: 32px;
	padding: 0 0 0 5px;
	color: #505050;
	margin-right: 8px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	line-height: 32px;
}

.info_list li .link {
	font-size: 12px;
}

.info_list li .drop_tip {
	position: absolute;
	left: 86px;
	top: 42px;
	border: 1px solid #d2d2d2;
	background-color: #fff;
	padding: 0;
	max-height: 202px;
	width: 160px;
	z-index: 10;
	overflow: auto;
}

.info_list li .drop_tip li {
	padding: 0 0 0 10px;
	font-size: 12px;
	line-height: 22px;
	cursor: pointer;
}

.info_list li .drop_tip li:hover {
	background-color: #f5f5f5;
}

.info_list li .drop_tip li.active {
	background-color: #f5f5f5;
}

.info_list li span.tip {
	font-size: 12px;
}

.info_list li .msg_con {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
}

.info_list li .msg_con input[type="radio"] {
	vertical-align: text-bottom;
	margin: 0 3px 0 0;
}

.info_list li .msg_con label {
	margin-right: 30px;
}

.info_list li .msg_con .msg_txt {
	width: 490px;
	height: 120px;
	border: 1px solid #d2d2d2;
}

.info_list li .msg_con .msg_t {
	width: 496px;
}

.search {
	float: left;
	width: 558px;
	height: 45px;
	background: url(../image/search.png) 0 2px no-repeat;
	*display: inline;
	zoom: 1
}

.search .searchtext {
	font-size: 14px;
	float: left;
	width: 480px;
	height: 36px;
	line-height: 36px;
	margin: 5px 10px;
	color: #687280;
	background: #fff
}

.search .searchbtn {
	float: left;
	cursor: pointer;
	width: 53px;
	height: 41px;
	margin: 2px 1px;
	opacity: 0
}

#bd {
	width: 100% !important;
	margin: 0 auto !important;
}

#bd .bd_body {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}