
.payamount {
	width: 960px;
	margin: 15px auto 0px auto;
	border: 1px solid #ccc; 
}

.cashier {
	font: 38px/50px 'Arial'; margin: 2px 0px 2px 15px;
}

.order {
	height: 80px; background-color: #eee;
}

.order span {
	font: 18px/40px 'Arial'; display: block; margin-left: 15px;
}

.wxpaylogo {
	margin: 10px 0px 0px 15px;
}

.wxqrcode {
	margin: 0px auto 0px auto; width: 200px; height: 200px; border: 1px solid #000;
}

.wxwordlogo {
	margin: 0px auto 20px auto; width: 202px;
}